{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Time Entries{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('timesheet.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for entry in entries %}
    <article class="post">
      <header>
        <div>
          <h1>{{ entry['first_name'] }}</h1>
          <h1>{{ entry['last_name'] }}</h1>
          <h1>{{ entry['date_of_birth'] }}</h1>
          <h1>{{ entry['address'] }}</h1>
          <h1>{{ entry['phone'] }}</h1>
          <h1>{{ entry['project'] }}</h1>
        </div>
        {% if g.user['id'] == post['employee_id'] %}
          <a class="action" href="{{ url_for('timesheet.update', id=entry['id']) }}">Edit</a>
        {% endif %}
      </header>
      <p class="body">{{ entry['hours'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}