{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Time Entries{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('timesheet.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for entry in entries %}
    <article class="post">
      <header>
        <div>
          <h1>{{ entry['first_name'] }}</h1>
          <h1>{{ entry['last_name'] }}</h1>
          <h1>{{ entry['date_of_birth'] }}</h1>
          <h1>{{ entry['address'] }}</h1>
          <h1>{{ entry['phone'] }}</h1>
          <h1>{{ entry['project'] }}</h1>
        </div>
        {% if g.user['id'] == entry['employee_id'] %}
          <a class="action" href="{{ url_for('timesheet.update', id=entry['id']) }}">Edit</a>
        {% endif %}
      </header>
      <p class="body">{{ entry['hours'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}


  {% if g.user['role'] == 'admin' %}
    <section>
      <h2>All Users</h2>
      {% for user in users %}
        <article class="post">
          <header>
            <div>
              <h1>User ID: {{ user['id'] }}</h1>
              <h1>Username: {{ user['username'] }}</h1>
              <h1>Role: {{ user['role'] }}</h1>
            </div>
          </header>
          <hr>
        </article>
      {% endfor %}
    </section>
  {% endif %}
{% endblock %}